# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*db
OPENCV_FINAL/.vs
OPENCV_FINAL/Debug
OPENCV_FINAL/packages
OPENCV_FINAL/x64
OPENCV_FINAL/*db